/* Cloak elements on initial load to hide the possible display of {{ ... }} 
 * Add to the app tag or to specific tags
 * To display "loading...", change to the following:
 *    [v-cloak] > * { display:none }
 *    [v-cloak]::before { content: "loading…" }
 */
[v-cloak] { display: none; }

body {
    background-color: #1b1a1a;
    margin: 20px;
}
.joystick-conteiner{
    
    width: 100%;
    height: 100px;
}

/* Bootstrap */
.batteryHelpOff{
    position: relative; bottom: 11px; font-size: x-large;
}
.batteryHelpOn{
    position: relative; bottom: 11px; font-size: x-large; border: 2px solid #D48F04;
}
.percetBattery{
    position: relative; bottom: 11px; font-size: x-large;
}
.statusJob{
    font-size: xx-large;
}
.vlrTimmer{
    color: #D48F04; font-size: 20px;
}
.options, .card{
    border: 0px solid rgba(0,0,0,.125);
}
.options, .card-body{
    background-color: #1b1a1a; border-color: #1b1a1a; padding: 0%;
}
.screenHelpOptionsOn{
    border: 5px solid #D48F04; height: 452px; background-color: #1b1a1a;
}
#img_help{
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100vh;
    background-image: url('./img/fundo_help.png');
    background-repeat: no-repeat;
    text-align: center;
}
#img_help_2{
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100vh;
    background-image: url('./img/fundo_help_2.png');
    background-repeat: no-repeat;
    text-align: center;
}